# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PracticaT2B.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tony9\Desktop\PracticaT2B\.idea\.idea.PracticaT2B\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
